.mat-icon {
  font-size: 30px;
}

.card-tile {
  width: 200px;
  height: 300px;
  display: inline-block;
  margin: 20px;
  cursor: pointer;
  transition: 0.6s;
}
.card-tile:hover {
  transform: scale(1.1);
  width: 200px;
  height: 300px;
}
.mat-card-content {
  text-align: left;
  -ms-word-break: break-all;
  word-break: break-all;

  /* Non standard for WebKit */
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
.mat-card-image {
  width: 150px;
  height: 150px;
  padding-top: 15px;
}

mat-card-actions {
  text-align: right;
}
@media screen and (max-width: 300px) {
  .card-tile {
    transform: scale(0.7);
  }
}
